ldap.vault.root_dn=dc=roving,dc=com
ldap.vault.url={{ getv "/location/ldap/vault" }}
ldap.vault.ca_path=/etc/pki/tls/certs
ldap.vault.cert_path=/etc/pki/tls/certs
ldap.vault.key_path=/etc/pki/tls/private
